*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: 100%;
    background: rgb(112,224,179);
    background: linear-gradient(90deg, rgba(112,224,179,1) 0%, rgba(87,181,158,1) 42%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    width: 20vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: #D8F3DC
}

.cabeza, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.info{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 200px;
    height: 200px;
    border: inherit;
    border-radius: 50%;
    margin-top: -10%;
    background-image: url(../img/gatonegro.png);
    background-size: cover;
}

.equis{
    width: 100%;
    display: flex;
    justify-content: right;
}

.datos{
    width: 100%;
    height: 40%;
    margin-left: 20%;
    font-size: 25px;
}




/* .nomCat{
    margin: 5px;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.equis{
    border: 1px solid black;
    display: flex;
    justify-self: end;
}

.X{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen > :nth-child(1){
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 150px;
}

.datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border: 1px solid black;
}

.edad, .colorojos, .sexo{
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.raza{
    margin:  10px;
    width: 200px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
} */